venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.env

data/chroma1/
data/extracted_images/
data/tmp/
data/processed_pdfs/
data/embeddings/
data/extracted_tables/
data/embedded_data/

.streamlit/
.pytest_cache/
.mypy_cache/
